[submodule "QSCPIDev"]
	path = QSCPIDev
	url = git@github.com:pinkavaj/QSCPIDev.git
[submodule "QCSVWriter"]
	path = QCSVWriter
	url = git@github.com:pinkavaj/QCSVWriter.git
[submodule "msdptool"]
	path = msdptool
	url = git@github.com:pinkavaj/msdptool.git
[submodule "QSerialPortProbe"]
	path = QSerialPortProbe
	url = ./QSerialPortProbe
